@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper-form {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
  -webkit-filter: url(#gooey);
          filter: url(#gooey);
}

.wrapper-form span.circle {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper-form span.circle:nth-child(1) {
  color: #FFACAC;
  top: 28%;
  left: 66%;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -10.9s;
          animation-delay: -10.9s;
  -webkit-transform-origin: -8vw -3vh;
          transform-origin: -8vw -3vh;
  -webkit-box-shadow: -40vmin 0 10.99312vmin currentColor;
          box-shadow: -40vmin 0 10.99312vmin currentColor;
}

.wrapper-form span.circle:nth-child(2) {
  color: #FFACAC;
  top: 8%;
  left: 59%;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s;
  -webkit-transform-origin: -10vw 0vh;
          transform-origin: -10vw 0vh;
  -webkit-box-shadow: -40vmin 0 8.36418vmin currentColor;
          box-shadow: -40vmin 0 8.36418vmin currentColor;
}

.wrapper-form span.circle:nth-child(3) {
  color: #583C87;
  top: 46%;
  left: 87%;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform-origin: -17vw 13vh;
          transform-origin: -17vw 13vh;
  -webkit-box-shadow: -40vmin 0 5.02898vmin currentColor;
          box-shadow: -40vmin 0 5.02898vmin currentColor;
}

.wrapper-form span.circle:nth-child(4) {
  color: #E45A84;
  top: 11%;
  left: 24%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  -webkit-transform-origin: -12vw -5vh;
          transform-origin: -12vw -5vh;
  -webkit-box-shadow: 40vmin 0 6.09766vmin currentColor;
          box-shadow: 40vmin 0 6.09766vmin currentColor;
}

.wrapper-form span.circle:nth-child(5) {
  color: #FFACAC;
  top: 60%;
  left: 79%;
  -webkit-animation-duration: 11.3s;
          animation-duration: 11.3s;
  -webkit-animation-delay: -10.1s;
          animation-delay: -10.1s;
  -webkit-transform-origin: 9vw 1vh;
          transform-origin: 9vw 1vh;
  -webkit-box-shadow: 40vmin 0 7.52073vmin currentColor;
          box-shadow: 40vmin 0 7.52073vmin currentColor;
}

.wrapper-form span.circle:nth-child(6) {
  color: #FFACAC;
  top: 84%;
  left: 24%;
  -webkit-animation-duration: 13.9s;
          animation-duration: 13.9s;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  -webkit-transform-origin: -15vw -21vh;
          transform-origin: -15vw -21vh;
  -webkit-box-shadow: 40vmin 0 11.68212vmin currentColor;
          box-shadow: 40vmin 0 11.68212vmin currentColor;
}

.wrapper-form span.circle:nth-child(7) {
  color: #E45A84;
  top: 58%;
  left: 30%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -12.3s;
          animation-delay: -12.3s;
  -webkit-transform-origin: 22vw 10vh;
          transform-origin: 22vw 10vh;
  -webkit-box-shadow: 40vmin 0 9.28383vmin currentColor;
          box-shadow: 40vmin 0 9.28383vmin currentColor;
}

.wrapper-form span.circle:nth-child(8) {
  color: #FFACAC;
  top: 16%;
  left: 91%;
  -webkit-animation-duration: 15.4s;
          animation-duration: 15.4s;
  -webkit-animation-delay: -11.7s;
          animation-delay: -11.7s;
  -webkit-transform-origin: 7vw -10vh;
          transform-origin: 7vw -10vh;
  -webkit-box-shadow: -40vmin 0 14.03712vmin currentColor;
          box-shadow: -40vmin 0 14.03712vmin currentColor;
}

.wrapper-form span.circle:nth-child(9) {
  color: #E45A84;
  top: 10%;
  left: 79%;
  -webkit-animation-duration: 11.2s;
          animation-duration: 11.2s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform-origin: 18vw 6vh;
          transform-origin: 18vw 6vh;
  -webkit-box-shadow: -40vmin 0 14.59915vmin currentColor;
          box-shadow: -40vmin 0 14.59915vmin currentColor;
}

.wrapper-form span.circle:nth-child(10) {
  color: #583C87;
  top: 89%;
  left: 18%;
  -webkit-animation-duration: 15.7s;
          animation-duration: 15.7s;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform-origin: 12vw 5vh;
          transform-origin: 12vw 5vh;
  -webkit-box-shadow: 40vmin 0 8.56842vmin currentColor;
          box-shadow: 40vmin 0 8.56842vmin currentColor;
}

.card-glass {
  position: relative;
  width: 944px;
  background: radial-gradient(100.21% 271.27% a t 2.81% 7.08%, rgba(255, 252, 252, 0.3) 0%, rgba(250, 250, 250, 0.07) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 30px 20px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 30px 20px 70px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 678px) {
  .card-glass {
    margin: 20px;
    width: 100%;
  }
}

.card-glass-header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.form-glass-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
}

.card-glass-footer {
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.glass-header-text {
  font-weight: 600;
  font-size: 2em;
  color: #6777EF;
}

.glass-footer-text {
  font-weight: 400;
  font-size: 1em;
  color: white;
}

svg.gooey {
  width: 0;
  height: 0;
}

input.form-glass-control {
  padding: 13px 16px;
  border: none;
  max-width: 100%;
  outline: none;
  font-size: 1.5em;
  color: white;
  background: rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px -2px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px -2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 15px auto;
}

input.form-glass-control::-webkit-input-placeholder {
  font-size: .7em;
  color: white;
}

input.form-glass-control:-ms-input-placeholder {
  font-size: .7em;
  color: white;
}

input.form-glass-control::-ms-input-placeholder {
  font-size: .7em;
  color: white;
}

input.form-glass-control::placeholder {
  font-size: .7em;
  color: white;
}

.show-hide-toggle {
  position: absolute;
  font-size: .8em;
  z-index: 3;
  right: 33%;
  background: rgba(255, 255, 255, 0.09);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px -2px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px -2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  color: #6777EF;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .show-hide-toggle {
    right: 10%;
  }
}

.glass-container {
  margin: 20px 40px;
}

.btn {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: white;
  margin: 13px 7px;
  display: inline-block;
}

.btn-primary {
  color: white;
  background-color: #6777EF;
  margin-left: 33px;
  text-decoration: none;
}

@-webkit-keyframes background {
  0%, 100% {
    background-image: hue-rotate(90deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes background {
  0%, 100% {
    background-image: hue-rotate(90deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/*# sourceMappingURL=custom.css.map */